[submodule "seqan3"]
	path = lib/seqan3
	url = https://github.com/seqan/seqan3.git
	branch = master
[submodule "SViper"]
	path = include/SViper
	url = git@github.com:smehringer/SViper.git
	branch = master
